/* styles.css */
body {
  background-color: #00807f;
  font-family: Verdana, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

p1 {
  color: white;
  text-align: center;
}
